.news-gallery {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: url('../../assets/bg.png');
}

.news-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.news-image {
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.news-container:hover .news-image {
  transform: scale(1.08);
  opacity: 0.85;
}

.news-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* Gradient fade effect */
  padding: 40px 20px; /* Bigger padding for readability */
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
}

.news-caption h2 {
  margin: 0;
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* Soft shadow to make the text pop */
}

.news-caption p {
  margin-top: 10px;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Softer shadow for description */
}


/* Centered Instagram Icon Styling */
.instagram-icon {
  text-align: center;
  margin-bottom: 20px; /* Adds space between icon and news content */
}

.instagram-link {
  font-size: 3em;
  color: #ffffff; /* White icon color for contrast */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #B22222; /* Fire red background color */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.instagram-link:hover {
  transform: scale(1.1);
  background-color: #B22222; /* Darker fire red on hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Slightly larger shadow on hover */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .instagram-link {
    font-size: 2.5em;
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 576px) {
  .instagram-link {
    font-size: 2em;
    width: 60px;
    height: 60px;
  }
}



.news-container:hover .news-caption {
  opacity: 1;
}

@media (max-width: 768px) {
  .news-container {
    width: 95%;
  }

  .news-caption h2 {
    font-size: 1.8rem;
  }

  .news-caption p {
    font-size: 1.1rem;
  }
}
.news-link {
  text-decoration: none;
  color: inherit;
  display: block; /* Makes the whole container clickable */
}
