.app__specialMenu {
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  
  .app__specialMenu-title {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-gold);
    font-family: 'Cormorant', serif;
    font-size: 48px;
    letter-spacing: 1px;
  }
  
  .app__specialMenu-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .app__specialMenu-menu_options {
    flex: 1;
    padding-right: 40px; /* Increase padding for better separation */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .app__specialMenu-menu_items p {
    font-family: 'Georgia', serif;
    font-size: 22px;
    font-weight: 500;
    color: var(--color-fire);
    line-height: 2;
    margin-bottom: 1rem;
    text-align: left; /* Align items to the left */
  }
  
  .app__specialMenu-menu_items span {
    float: right; /* Align prices to the right */
    font-weight: bold;
    color: var(--color-gold);
  }
  
  .app__specialMenu-menu_img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .app__specialMenu-menu_img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  /* Responsive for smaller screens */
  @media screen and (max-width: 768px) {
    .app__specialMenu-content {
      flex-direction: column;
      align-items: center;
    }
  
    .app__specialMenu-menu_options {
      padding-right: 0;
      margin-bottom: 2rem;
      align-items: center; /* Center on small screens */
    }
  
    .app__specialMenu-menu_items p {
      text-align: center;
    }
  
    .app__specialMenu-menu_img img {
      max-width: 80%; /* Reduce image size for smaller screens */
    }
  }
  