.app__aboutus {
    background-color: #f4f4f4; /* example background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px 0;
  }
  
  .app__aboutus-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Control the max width for better aesthetics */
  }
  
  .app__aboutus-overlay {
    width: 40%; /* Adjust based on preference */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .restaurant__img {
    width: 100%;
    height: auto;
    display: block; /* Ensures no extra space around the image */
  }
  
  .app__aboutus-content_about, .app__aboutus-content_history {
    width: 30%; /* Adjust based on preference */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headtext__cormorant {
    margin-bottom: 20px;
  }
  
  .spoon__img {
    margin-bottom: 20px;
  }
  
  .custom__button {
    /* Button styles here */
  }
  
  @media (max-width: 768px) {
    .app__aboutus-content {
      flex-direction: column;
    }
  
    .app__aboutus-content_about, .app__aboutus-content_history, .app__aboutus-overlay {
      width: 80%; /* More suitable for mobile */
      margin-bottom: 20px;
    }
  }
  